<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../admin/admin_bookEdit.css">
    <link rel="stylesheet" th:href="@{css/admin_bookEdit.css}" >
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1><img src="../image/book.png" class="bookImage">도서 정보 수정</h1>
        <form method="post">
            <div class="radioButton">
                <label><img src="../image/check.png" class="checkIcon">도서 분류</label>
                    <input type="radio" name="chk_info" value="back">백엔드
                    <input type="radio" name="chk_info" value="front">프론트엔드
                    <input type="radio" name="chk_info" value="자격증">자격증
            </div>
            <div class="registForm">
                <label><img src="../image/check.png" class="checkIcon">ISBN</label>
                <input type="text" id="registControl1" placeholder="도서 번호를 입력하세요">
            </div>
            <div class="registForm">
                <label><img src="../image/check.png" class="checkIcon">도서명</label>
                <input type="text" id="registControl2" placeholder="책 제목을 입력하세요">
            </div>
            <div class="registForm">
                <label><img src="../image/check.png" class="checkIcon">작가</label>
                <input type="text" id="registControl3" placeholder="작가 이름을 입력하세요">
            </div>
            <div class="registForm">
                <label><img src="../image/check.png" class="checkIcon">출판사</label>
                <input type="text" id="registControl4" placeholder="출판사를 입력하세요">
            </div>
            <div class="registForm">
                <label><img src="../image/check.png" class="checkIcon">출간일</label>
                <input type="date" id="registControl5">
            </div>
            <div class="registForm">
                <label><img src="../image/check.png" class="checkIcon">내용</label>
                <input type="text" id="registControl6" placeholder="도서 내용을 입력하세요">
            </div>
            <div class="registForm">
                <label><img src="../image/check.png" class="checkIcon">수량</label>
                <input type="text" id="registControl7" placeholder="도서 수량을 입력하세요">
            </div>
            <div class="registForm">
                <label><img src="../image/check.png" class="checkIcon">도서 표지</label>
                <input type="file" accept="image/*">
            </div>
            <button type="submit" class="registButton">저장</button>
            <button type="button" class="cancel">취소</button>
        </form>
    </div>
    <script src="../admin/admin_bookEdit.js"></script>
</body>
</html>