<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/admin_bookRegist.css}" >
    <link rel="stylesheet" th:href="@{css/admin_bookRegist.css}" >
    <title>Document</title>
</head>
<body>
<div class="container">
    <h1><img src="/img/book.png" class="bookImage">도서 등록</h1>
    <form method="post" th:action>
        <div class="radioButton">
            <label><img src="/img/check.png" class="checkIcon">도서 분류</label>
            <input type="radio" name="chk_info" value="back">백엔드
            <input type="radio" name="chk_info" value="front">프론트엔드
            <input type="radio" name="chk_info" value="자격증">자격증
        </div>
        <div class="registForm">
            <label><img src="/img/check.png" class="checkIcon">ISBN</label>
            <input type="text" name="isbn" id="registControl1" placeholder="도서 번호를 입력하세요">
        </div>
        <div class="registForm">
            <label><img src="/img/check.png" class="checkIcon">도서명</label>
            <input type="text" name="title" id="registControl2" placeholder="책 제목을 입력하세요">
        </div>
        <div class="registForm">
            <label><img src="/img/check.png" class="checkIcon">작가</label>
            <input type="text" name="author" id="registControl3" placeholder="작가 이름을 입력하세요">
        </div>
        <div class="registForm">
            <<<<<<< HEAD
            <label><img src="/img/check.png" class="checkIcon">출판사</label>
            <input type="text" name="publisher" id="registControl4" placeholder="출판사를 입력하세요">
        </div>
        <div class="registForm">
            <label><img src="/img/check.png" class="checkIcon">출간일</label>
            <input type="text" name="pubdate" id="registControl5">
        </div>
        <div class="registForm">
            <label><img src="/img/check.png" class="checkIcon">내용</label>
            <input type="text" name="description" id="registControl6" placeholder="도서 내용을 입력하세요">
            =======
            <label><img src="img/check.png" class="checkIcon">출판사</label>
            <input type="text" name="publisher" id="registControl4" placeholder="출판사를 입력하세요">
        </div>
        <div class="registForm">
            <label><img src="img/check.png" class="checkIcon">출간일</label>
            <input type="date" name="datetime" id="registControl5">
        </div>
        <div class="registForm">
            <label><img src="img/check.png" class="checkIcon">내용</label>
            <input type="text" name="contents" id="registControl6" placeholder="도서 내용을 입력하세요">
            >>>>>>> 563f2705796f23ccf25b0bbcd00d241a9f34bd7f
        </div>
        <div class="registForm">
            <label><img src="/img/check.png" class="checkIcon">수량</label>
            <input type="text" name="stockQuantity" id="registControl7" placeholder="도서 수량을 입력하세요">
        </div>
        <div class="registForm">
            <<<<<<< HEAD
            <label><img src="/img/check.png" class="checkIcon">도서 표지</label>
            <input type="text" name="image">
            =======
            <label><img src="img/check.png" class="checkIcon">도서 표지</label>
            <input type="file" accept="image/*" name="thumbnail">
            >>>>>>> 563f2705796f23ccf25b0bbcd00d241a9f34bd7f
        </div>
        <button type="submit" class="registButton">등록</button>
        <button type="button" class="cancel">
            <a th:href="@{/admin/adminmain}">취소</a>
        </button>
    </form>
</div>
</body>
<script th:src="@{/js/admin_bookRegist.js}"></script>
</html>