body {
    height: 100vh; /* 화면 높이에 맞게 설정 */
    overflow-y: scroll; /* 세로 스크롤 생성 */
}

.book_detail_page {
    width: 1000px;
    margin: 0 auto;
    margin-top: 180px;
    display: flex; /* 부모 요소를 플렉스 컨테이너로 설정 */
    align-items: center; /* 수직 가운데 정렬 */
}

.book_image {
    flex: 1; /* 이미지 컨테이너를 확장하여 나머지 공간을 채움 */
}

.book_image img {
    max-width: 100%; /* 이미지가 컨테이너에 맞게 크기 조절 */
}

.book_info {
    flex: 2; /* 내용 컨테이너를 확장하여 이미지 옆에 배치 */
    padding-left: 20px; /* 이미지와 내용 사이의 간격 설정 */
}

@font-face {
    font-family: 'LeferiPoint-BlackA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-BlackA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-family: 'LeferiPoint-BlackA';
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

.bookAbout {
    font-family: 'Pretendard-Regular';
}

@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * { 
 font-family: 'Noto Sans KR', sans-serif;
}

.bookContents {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    margin-top: 40px;
    margin-bottom: 40px;
}

hr {
    width: 60%; /* 가로길이를 설정합니다. */
    margin: 0 auto; /* 좌우 여백을 자동으로 설정하여 수평 가운데 정렬합니다. */
    height: 1px; /* 높이(굵기)를 설정합니다. */
    background-color: #BDBDBD; /* 선의 색상을 설정합니다. */
    border: none; /* 테두리 제거 */
    margin-top: 30px;
}

.quantity {
    height: 22px;
    width: 2rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    transition: box-shadow 0.3s; /* 변화에 애니메이션 효과 추가 */
    outline: none;
    margin-right: 20px;
    margin-left: 13px;
}

.quantity:focus {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* 클릭 시 그림자 효과 적용 */
}

.rent, .reserve {
    background-color: #8C8C8C;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    margin-right: 15px;
}

.rent:hover, .reserve:hover {
    background-color: #FF0000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#like{
    width: 45px;
    fill: #ddd;
}

#like.active{
    fill: red;
}

@font-face {
    font-family: 'ONE-Mobile-Title';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-Title.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.book_detail_page_bottom {
    font-family: 'ONE-Mobile-Title';
    font-size: 22px;
    width: 1000px;
    margin: 0 auto;
    margin-top: 70px;
    display: flex; /* 부모 요소를 플렉스 컨테이너로 설정 */
    align-items: center; /* 수직 가운데 정렬 */
}

.book_detail_page_bottom .bar {
    margin-left: 15px;
    margin-right: 15px;
    color:#5D5D5D;
}

a {
    text-decoration: none;
    color:#5D5D5D   ;
}

.infoContents {
    display: none;
    width: 1000px;
    padding: 18px 0;
    box-sizing: border-box;
    margin: 0 auto; /* 좌우 중앙 정렬을 위한 마진 설정 */
    text-align: center; /* 내부 요소의 가로 정렬을 위한 설정 */
}

.infoContents .infoTable th {
    padding: 12px 10px;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.01em;
    text-align: left;
    color: #000;
    font-weight: 500;
    vertical-align: top;
    font-weight: bold; /* 글자를 볼드체로 설정 */
}

.infoContents .infoTable td {
    padding: 12px 10px;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.01em;
    text-align: left;
    color: #767676;
    font-weight: 400;
    vertical-align: top;
}

.infoRegulation p {
    font-weight: bold;
}

.infoRegulation {
    font-size: 13px;
    display: none;
    width: 1000px;
    padding: 18px 0;
    box-sizing: border-box;
    margin: 0 auto; /* 좌우 중앙 정렬을 위한 마진 설정 */
    text-align: left; /* 내부 요소의 가로 정렬을 위한 설정 */
}

@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.comments {
    display: none;
    width: 1000px; /* 전체 너비를 1000px로 설정 */
    margin: 0 auto; /* 중앙 정렬을 위해 margin 설정 */
    padding: 10px;
    margin-top: 30px;
}

.comment_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.userInfoBox {
    display: flex;
    align-items: center;
}

.info_item {
    margin-left: 10px;
    font-weight: bold;
    font-family: 'NanumSquareNeo-Variable';
    font-size: 13px;
    margin-top: 30px; /* 여백을 추가하는 부분 */
}

.comment_contents {
    background-color: #f9f9f9;
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px; /* 간격 조절 */
}

.comment_text {
    margin: 0;
    padding: 0;
    font-size: 12px;
    line-height: 1.4; /* 행간 조절 */
}

#commentForm {
    display: none; /* 처음에는 숨김 */
    width: 1000px; /* 전체 너비를 1000px로 설정 */
    margin: 0 auto; /* 중앙 정렬을 위해 margin 설정 */
    padding: 10px;
    margin-top: 20px; /* 간격 조절 */
}

#showCommentForm {
    text-align: center; /* 텍스트를 가운데 정렬 */
    float: right; /* 버튼을 오른쪽으로 정렬 */
    margin-top: -20px; /* 간격 조절 */
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    font-size: 14px;
    text-decoration: none; /* 기본 밑줄 제거 */
}

#showCommentForm:hover {
    text-decoration: underline; /* 커서를 올렸을 때 밑줄 표시 */
}

#commentForm h2 {
    text-align: left;
}

#commentForm form {
    background-color: #f4f4f4; /* 폼의 배경색 설정 */
    padding: 20px; /* 폼 내부 여백 설정 */
}

.input-row {
    width: 97%;
    display: flex; /* 요소들을 가로로 정렬 */
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px; /* 간격 조절 가능 */
}

.input-row input,
.input-row textarea {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.input-row #nameField {
    background-color: white; /* 하얀 배경 색상 지정 */
    width: 200px;
    padding: 10px;
}

.input-row #nameField:focus {
    border: 1px solid #ccc;
}

.input-row #dateField {
    background-color: #f4f4f4;
    color: #353535;
    text-align: right;
}

#commentForm textarea {
    width: 97%;
    height: 130px;
    background-color: white; /* 하얀 배경 색상 지정 */
    padding: 10px;
    margin: 5px 0;
    border: none; /* 테두리 없애기 */
    border-radius: 5px;
}


#commentForm button {
    background-color: #8C8C8C;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 20px;
}

#commentForm button:hover {
    background-color: #FF0000;
}
