<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../list/bookList.css">
    <link rel="stylesheet" th:href="@{css/bookList.css}">
    <title>Document</title>
</head>
<body>
    <div class="content">
        <aside class="titleWrap">
            <div class="title_header">
                <span class="title_heading">도서 분류</span>
            </div>
            <div class="title_body">
                <ul class="title_list">
                    <li>
                        <a href="#">
                            <p class="in">백엔드</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <p class="in">프론트엔드</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <p class="in">자격증</p>
                        </a>
                    </li>
                </ul>
            </div>
        </aside>

        <div class="bookList">
            <div class="list_header">
                <h1>전체보기</h1>
                <hr>
            </div>
            <div class="list_body" th:each="book:${books}">
                <div class="product">
                    <div class="product_cover">
                            <img src="../image/backend_book1.jpg" alt="">
                    </div>
                    <div class="product_detail">
                        <h3 th:text="${book.name}">처음 해보는 Servlet&JSP 웹 프로그래밍</h3>
                        <P class="product_info">
                            <span th:text="${book.authors}">오정임</span>
                            <span>｜</span>
                            <spanth:text="${book.publisher}"></spanth:text="${book.publisher}">
                            <span>｜</span>
                            <span>2017.03.22</span>
                    </div>
                    <div class="product_button">
                        <button type="button" class="button_sm1">
                            <span class="text">
								<a th:href="@{/book/{bookId}/detail(bookId=${book.id})}" style="text-decoration: none; color: inherit;">
									상세보기
								</a>
							</span>
                        </button>
                        <button type="button" class="button_sm2">
                            <span class="text">
								<a th:href="@{/book/{bookId}/rent(bookId=${book.id})}" style="text-decoration: none; color: inherit;">
									대여하기
								</a>
							</span>
                        </button>
                        <button type="button" class="button_sm3">
                            <span class="text">
								<a th:href="@{/book/{bookId}/reserve(bookId=${book.id})}" style="text-decoration: none; color: inherit;">
									예약하기
								</a>
							</span>
                        </button>
                    </div>
                </div>
                <hr>
                <div class="product">
                    <div class="product_cover">
                            <img th:src="@{/img/backend_book2.jpg}" alt="">
                    </div>
                    <div class="product_detail">
                        <h3>자바 ORM 표준 JPA 프로그래밍</h3>
                        <p class="product_info">
                            <span>김영한</span>
                            <span>｜</span>
                            <span>에이콘출판</span>
                            <span>｜</span>
                            <span>2015.07.28</span>
                        </p>
                    </div>
                    <div class="product_button">
                        <button type="button" class="button_sm1">
                            <span class="text">상세보기</span>
                        </button>
                        <button type="button" class="button_sm2">
                            <span class="text">대여하기</span>
                        </button>
                        <button type="button" class="button_sm3">
                            <span class="text">예약하기</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
	<script th:inline="javascript">
		var urlParams = new URLSearchParams(window.location.search);
		var success = urlParams.get("success");
		if (success === "renttrue") {
			alert("대여성공");
		}
		if (success === "rentfalse"){
			alert("대여실패(이미 대여하였습니다.)");
		}
		if (success === "NotEnoughStock") {
			alert("대여실패(잔여수량이 없습니다.)");
		}
		if (success === "reservetrue") {
			alert("예약성공(대기번호:)");
		}
		if (success === "reservefalse") {
			alert("예약실패(이미 예약하였습니다.)");
		}
		
		
		
	</script>
</body>


</html>