<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/categorypage.css}">
</head>

<body>
<table>
    <tr th:each="book:${books}">
        <td>[[${book.isbn}]]</td>
        <td><img th:src="${book.image}" th:alt="${book.title}" width="100"></td>
        <td><a th:href="${book.link}">[[${book.title}]]</a></td>
        <td>[[${book.author}]]/[[${book.publisher}]]</td>
        <td>[[${book.pubdate}]]</td>
    </tr>
    </table>
</body>
</html>