<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="mypage.css">
	<link rel="stylesheet" th:href="@{css/mypage.css}">
	<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</head>

<body>
	<main class="container_wrapper">
		<section class="contents_wrap elib">
			<div class="elib_head">
				<div class="innner">
					<div class="elib_profile">
						<div class="photo">
							<img src="https://contents.kyobobook.co.kr/resources/fo/images/common/ink/img_no_profile@2x.png"
								alt="">
						</div>
						<p class="name">
							<strong>OO</strong>
							님의
							<b>라이브러리</b>
						</p>
					</div>
					<ul class="elib_quick">
						<li>
							<a href="#" class="active1">
								<i class="ic_elib_own"></i>
								<span class="text">MY도서</span>
							</a>
						</li>
						<li>
							<a href="#" class="active2">
								<i class="ic_elib_two"></i>
								<span class="text">회원정보</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="libary_all">
				<div class="libary_contents">
					<div class="contWrap">
						<h4>MY도서</h4>
						<div class="list_search">
							<button type="button" class="current">찜</button>
							<button type="button" class="reservation">예약</button>
							<button type="button" class="rental">대여</button>
						</div>
					</div>
				</div>
				<div class="like_item" style="display: '';">
					<div class="list_result_wrap has_line">
						<span class="form_chk">
							<p>찜 목록</p>
						</span>
						<div class="right_area">
							<div class="item_group">
								<button type="button" class="btn_sm btn_line_gray"><span class="text">삭제</span></button>
							</div>
						</div>
					</div>
					<div class="prod_list type_box">
						<div class="prod_item">
							<div class="prod_area horizontal">
								<div class="form_chk no_label">
									<input id="wish-prod-S000209614996-0" name="wish-product" type="checkbox">
									<label for="wish-prod-S000209614996-0"><span class="hidden">상품선택</span></label>
								</div>
								<div class="prod_thumb_box type_bookcover">
									<a href="#" class="prod_link">
										<span class="img_box">
											<img src="https://contents.kyobobook.co.kr/sih/fit-in/200x0/pdt/9791160405835.jpg"
												alt="">
										</span>
									</a>
								</div>
								<div class="prod_info_box">
									<a href="#" class="prod_info">
										<span class="prod_name">운명의 꼭두각시</span>
										<span class="prod_author">윌리엄 트레버 외</span>
									</a>
								</div>
								<div class="right_area">
									<button type="button" class="btn_my_delete"></button>
								</div>
							</div>
						</div>
						<div class="prod_item">
							<div class="prod_area horizontal">
								<div class="form_chk no_label">
									<input id="wish-prod-S000209614996-0" name="wish-product" type="checkbox">
									<label for="wish-prod-S000209614996-0"><span class="hidden">상품선택</span></label>
								</div>
								<div class="prod_thumb_box type_bookcover">
									<a href="#" class="prod_link">
										<span class="img_box">
											<img src="https://contents.kyobobook.co.kr/sih/fit-in/200x0/pdt/9791160405835.jpg"
												alt="">
										</span>
									</a>
								</div>
								<div class="prod_info_box">
									<a href="#" class="prod_info">
										<span class="prod_name">운명의 꼭두각시</span>
										<span class="prod_author">윌리엄 트레버 외</span>
									</a>
								</div>
								<div class="right_area">
									<button type="button" class="btn_my_delete"></button>
								</div>
							</div>
						</div>
						<div class="prod_item">
							<div class="prod_area horizontal">
								<div class="form_chk no_label">
									<input id="wish-prod-S000209614996-0" name="wish-product" type="checkbox">
									<label for="wish-prod-S000209614996-0"><span class="hidden">상품선택</span></label>
								</div>
								<div class="prod_thumb_box type_bookcover">
									<a href="#" class="prod_link">
										<span class="img_box">
											<img src="https://contents.kyobobook.co.kr/sih/fit-in/200x0/pdt/9791160405835.jpg"
												alt="">
										</span>
									</a>
								</div>
								<div class="prod_info_box">
									<a href="#" class="prod_info">
										<span class="prod_name">운명의 꼭두각시</span>
										<span class="prod_author">윌리엄 트레버 외</span>
									</a>
								</div>
								<div class="right_area">
									<button type="button" class="btn_my_delete"></button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="libary_item" style="display: none;">
					<div class="list_result_wrap has_line">
						<span class="form_chk">
							<p>예약 목록</p>
						</span>
						<div class="right_area">
							<div class="item_group">
								<button type="button" class="btn_sm btn_line_gray"
									th:onclick="|location.href='@{/book/{reservationId}/cancel(reservationId=1)}'|"><span
										class="text">예약취소</span></button>
							</div>
						</div>
					</div>
					<div class="prod_list type_box" >
						<div class="prod_item" th:each="reservation:${reservations}">
							<div class="prod_area horizontal">
								<div class="form_chk no_label">
									<input id="wish-prod-S000209614996-0" name="wish-product" type="checkbox">
									<label for="wish-prod-S000209614996-0"><span class="hidden">상품선택</span></label>
								</div>
								<div class="prod_thumb_box type_bookcover">
									<a href="#" class="prod_link">
										<span class="img_box">
											<img src="https://contents.kyobobook.co.kr/sih/fit-in/200x0/pdt/9791160405835.jpg"
												alt="">
										</span>
									</a>
								</div>
								<div class="prod_info_box">
									<a href="#" class="prod_info">
										<span class="prod_name"
											th:text="${reservation.reservationBooks[0].book.name}">운명의 꼭두각시</span>
										<span class="prod_author"
											th:text="${reservation.reservationBooks[0].book.authors}">윌리엄 트레버 외</span>
									</a>
								</div>
								<div class="right_area">
									<button type="button" class="btn_my_delete"></button>
								</div>
							</div>
						</div>
<!--						<div class="prod_item">-->
<!--							<div class="prod_area horizontal">-->
<!--								<div class="form_chk no_label">-->
<!--									<input id="wish-prod-S000209614996-0" name="wish-product" type="checkbox">-->
<!--									<label for="wish-prod-S000209614996-0"><span class="hidden">상품선택</span></label>-->
<!--								</div>-->
<!--								<div class="prod_thumb_box type_bookcover">-->
<!--									<a href="#" class="prod_link">-->
<!--										<span class="img_box">-->
<!--											<img src="https://contents.kyobobook.co.kr/sih/fit-in/200x0/pdt/9791160405835.jpg"-->
<!--												alt="">-->
<!--										</span>-->
<!--									</a>-->
<!--								</div>-->
<!--								<div class="prod_info_box">-->
<!--									<a href="#" class="prod_info">-->
<!--										<span class="prod_name">운명의 꼭두각시</span>-->
<!--										<span class="prod_author">윌리엄 트레버 외</span>-->
<!--									</a>-->
<!--								</div>-->
<!--								<div class="right_area">-->
<!--									<button type="button" class="btn_my_delete"></button>-->
<!--								</div>-->
<!--							</div>-->
<!--						</div>-->
<!--						<div class="prod_item">-->
<!--							<div class="prod_area horizontal">-->
<!--								<div class="form_chk no_label">-->
<!--									<input id="wish-prod-S000209614996-0" name="wish-product" type="checkbox">-->
<!--									<label for="wish-prod-S000209614996-0"><span class="hidden">상품선택</span></label>-->
<!--								</div>-->
<!--								<div class="prod_thumb_box type_bookcover">-->
<!--									<a href="#" class="prod_link">-->
<!--										<span class="img_box">-->
<!--											<img src="https://contents.kyobobook.co.kr/sih/fit-in/200x0/pdt/9791160405835.jpg"-->
<!--												alt="">-->
<!--										</span>-->
<!--									</a>-->
<!--								</div>-->
<!--								<div class="prod_info_box">-->
<!--									<a href="#" class="prod_info">-->
<!--										<span class="prod_name">운명의 꼭두각시</span>-->
<!--										<span class="prod_author">윌리엄 트레버 외</span>-->
<!--									</a>-->
<!--								</div>-->
<!--								<div class="right_area">-->
<!--									<button type="button" class="btn_my_delete"></button>-->
<!--								</div>-->
<!--							</div>-->
<!--						</div>-->
					</div>
				</div>
				<div class="rental_item" style="display: none;">
					<div class="list_result_wrap has_line">
						<span class="form_chk">
							<p>대여 목록</p>
						</span>
						<div class="right_area">
							<div class="item_group">
								<button type="button" class="btn_sm btn_line_gray"><span class="text">반납
										하기</span></button>
							</div>
						</div>
					</div>
					<div class="prod_list type_box" >
						<div class="prod_item" th:each="rent:${rents}">
							<div class="prod_area horizontal">
								<div class="prod_thumb_box type_bookcover">
									<a href="#" class="prod_link">
										<span class="img_box">
											<img src="https://contents.kyobobook.co.kr/sih/fit-in/200x0/pdt/9791160405835.jpg"
												alt="">
										</span>
									</a>
								</div>
								<div class="prod_info_box">
									<a href="#" class="prod_info">
										<span class="prod_name" th:text="${rent.rentBookList[0].book.name}">운명의
											꼭두각시</span>
										<span class="prod_author" th:text="${rent.rentBookList[0].book.authors}">윌리엄 트레버
											외</span>
										<span class="prod_author" th:text="'대여날짜: '+${rent.rentDate}">대여 기간</span>
									</a>
								</div>
							</div>
						</div>
<!--						<div class="prod_item">-->
<!--							<div class="prod_area horizontal">-->
<!--								<div class="prod_thumb_box type_bookcover">-->
<!--									<a href="#" class="prod_link">-->
<!--										<span class="img_box">-->
<!--											<img src="https://contents.kyobobook.co.kr/sih/fit-in/200x0/pdt/9791160405835.jpg"-->
<!--												alt="">-->
<!--										</span>-->
<!--									</a>-->
<!--								</div>-->
<!--								<div class="prod_info_box">-->
<!--									<a href="#" class="prod_info">-->
<!--										<span class="prod_name">운명의 꼭두각시</span>-->
<!--										<span class="prod_author">윌리엄 트레버 외</span>-->
<!--										<span class="prod_author">대여 기간</span>-->
<!--									</a>-->
<!--								</div>-->
<!--							</div>-->
<!--						</div>-->
<!--						<div class="prod_item">-->
<!--							<div class="prod_area horizontal">-->
<!--								<div class="prod_thumb_box type_bookcover">-->
<!--									<a href="#" class="prod_link">-->
<!--										<span class="img_box">-->
<!--											<img src="https://contents.kyobobook.co.kr/sih/fit-in/200x0/pdt/9791160405835.jpg"-->
<!--												alt="">-->
<!--										</span>-->
<!--									</a>-->
<!--								</div>-->
<!--								<div class="prod_info_box">-->
<!--									<a href="#" class="prod_info">-->
<!--										<span class="prod_name">운명의 꼭두각시</span>-->
<!--										<span class="prod_author">윌리엄 트레버 외</span>-->
<!--										<span class="prod_author">대여 기간</span>-->
<!--									</a>-->
<!--								</div>-->
<!--							</div>-->
<!--						</div>-->
					</div>
				</div>
			</div>
		</section>
	</main>
</body>
<script th:src="@{/js/mypage.js}"></script>
<script>
	// Get the necessary elements
	const likeItem = document.querySelector('.like_item');
	const libraryItem = document.querySelector('.libary_item');
	const rentalItem = document.querySelector('.rental_item');
	const buttons = document.querySelectorAll('.list_search button');

	// Add event listeners to the buttons
	buttons.forEach((button) => {
		button.addEventListener('click', function () {
			// Reset the text color of all buttons to #000
			buttons.forEach((btn) => {
				btn.style.color = '#000';
			});

			// Change the text color of the clicked button to ef544d
			button.style.color = '#ef544d';

			// Show/hide items based on the button clicked
			if (button.classList.contains('current')) {
				likeItem.style.display = '';
				libraryItem.style.display = 'none';
				rentalItem.style.display = 'none';
			} else if (button.classList.contains('reservation')) {
				likeItem.style.display = 'none';
				libraryItem.style.display = '';
				rentalItem.style.display = 'none';
			} else if (button.classList.contains('rental')) {
				likeItem.style.display = 'none';
				libraryItem.style.display = 'none';
				rentalItem.style.display = '';
			}
		});
	});
</script>

</html>