<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My 페이지</title>
    <link rel="stylesheet" th:href="@{css/mypage.css}">
    <link rel="stylesheet" th:href="@{css/header.css}">
    <link rel="stylesheet" th:href="@{css/footer.css}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</head>

<body>
<div th:replace="header :: header"/>
<main class="container_wrapper">
    <section class="contents_wrap elib">
        <div class="elib_head">
            <div class="innner">
                <div class="elib_profile">
                    <div class="photo">
                        <img th:src="@{img/library.png}" alt="">
                    </div>
                    <p class="name">
                        <strong th:if="${loginMember != null}" th:text="${loginMember.name}">Member Name</strong>
                        님의
                        <b>라이브러리</b>
                    </p>
                </div>
                <ul class="elib_quick">
                    <li>
                        <a th:href="@{/mypage}" class="active1">
                            <i class="ic_elib_own"></i>
                            <span class="text"> MY 서재</span>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/userinfoForm}" class="active2">
                            <i class="ic_elib_two"></i>
                            <span class="text">회원정보</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="libary_all">
            <div class="libary_contents">
                <div class="contWrap">
                    <h4>MY 서재</h4>
                    <div class="list_search">
                        <button type="button" class="current">찜 목록</button>
                        <span>｜</span>
                        <button type="button" class="reservation">예약 목록</button>
                        <span>｜</span>
                        <button type="button" class="rental">대여 목록</button>
                    </div>
                </div>
            </div>
            <div class="like_item" style="display: '';">
                <div class="prod_list type_box">
                    <div class="prod_item" th:each="like:${likes}">
                        <div class="prod_area horizontal">
                            <div class="prod_thumb_box type_bookcover">
                                <a href="#" class="prod_link">
										<span class="img_box">
                                            <img class="image" th:src="${like.likeBooks[0].book.image}" alt="..."/>
                                                 alt="">
										</span>
                                </a>
                            </div>
                            <div class="prod_info_box">
                                <a href="#" class="prod_info">
										<span class="prod_name"
                                              th:text="${like.likeBooks[0].book.title}"></span>
                                    <span class="prod_author"
                                          th:text="${like.likeBooks[0].book.author}"></span>
                                </a>
                            </div>
                            <div class="right_area">
                                <button type="button" class="btn_my_delete"
                                        th:onclick="|location.href='@{/book/{likeId}/dislike(likeId=${like.id})}'|">
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <div class="libary_item" style="display: none;">
            <div class="prod_list type_box">
                <div class="prod_item" th:each="reservation:${reservations}">
                    <div class="prod_area horizontal">
                        <div class="prod_thumb_box type_bookcover">
                            <a href="#" class="prod_link">
                              <span class="img_box">
                                 <img class="image" th:src="${reservation.reservationBooks[0].book.image} " alt="..."/>
                              </span>
                            </a>
                        </div>
                        <div class="prod_info_box">
                            <a href="#" class="prod_info">
                              <span class="prod_name"
                                    th:text="${reservation.reservationBooks[0].book.title}"></span>
                                <span class="prod_author"
                                      th:text="${reservation.reservationBooks[0].book.author}"></span>
                            </a>
                        </div>
                        <div class="right_area">
                            <div class="right_area">
                                <button type="button" class="btn_my_delete"
                                        th:onclick="|location.href='@{/book/{reservationId}/cancel(reservationId=${reservation.id})}'|"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="rental_item" style="display: none;">
            <div class="prod_list type_box">
                <div class="prod_item" th:each="rent:${rents}">
                    <div class="prod_area horizontal">
                        <div class="prod_thumb_box type_bookcover">
                            <a href="#" class="prod_link">
										<span class="img_box">
                                            <img class="image" th:src="${rent.rentBookList[0].book.image}" alt="..."/>
										</span>
                            </a>
                        </div>
                        <div class="prod_info_box">
                            <a href="#" class="prod_info">
                                                <span class="prod_name"
                                                      th:text="${rent.rentBookList[0].book.title}"></span>
                                <span class="prod_author"
                                      th:text="${rent.rentBookList[0].book.author}"></span>
                                <span class="prod_author"
                                      th:text="'대여날짜: '+${rent.rentDate}">대여 기간</span>
                            </a>
                        </div>
                        <div class="right_area">
                            <button type="button" class="btn_my_delete"
                                    th:onclick="|location.href='@{/book/{rentId}/returnbook(rentId=${rent.id})}'|"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
</main>
<div th:replace="footer :: footer"/>
</body>
<script th:src="@{/js/detail.js}"></script>
<script th:src="@{/js/header.js}"></script>
<script th:src="@{/js/footer.js}"></script>
<script>
    // Get the necessary elements
    const likeItem = document.querySelector('.like_item');
    const libraryItem = document.querySelector('.libary_item');
    const rentalItem = document.querySelector('.rental_item');
    const buttons = document.querySelectorAll('.list_search button');

    // Add event listeners to the buttons
    buttons.forEach((button) => {
        button.addEventListener('click', function () {
            // Reset the text color of all buttons to #000
            buttons.forEach((btn) => {
                btn.style.color = '#000';
            });

            // Change the text color of the clicked button to ef544d
            button.style.color = '#ef544d';

            // Show/hide items based on the button clicked
            if (button.classList.contains('current')) {
                likeItem.style.display = '';
                libraryItem.style.display = 'none';
                rentalItem.style.display = 'none';
            } else if (button.classList.contains('reservation')) {
                likeItem.style.display = 'none';
                libraryItem.style.display = '';
                rentalItem.style.display = 'none';
            } else if (button.classList.contains('rental')) {
                likeItem.style.display = 'none';
                libraryItem.style.display = 'none';
                rentalItem.style.display = '';
            }
        });
    });


</script>


</html>