<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/join.css}">

    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <link href="https://font.elice.io/css?family=Elice+DX+Neolli" rel="stylesheet">
    <title>회원가입</title>
</head>
<body>
<div class="joinForm">
    <header>
        <h2>회원가입</h2>
    </header>

    <form action="/members/new" th:object="${joinForm}" method="post">
        <div class="input-box">

            <div class="userid">
                <b>아이디</b><br>
                <input id="userid" type="text" th:field="*{userid}">
                <input type="button" value="중복확인">
            </div>

            <div class="userpw">
                <b>비밀번호</b><br>
                <input id="password" type="password" th:field="*{password}">
            </div>

            <div class="re-userpw">
                <b>비밀번호 재입력</b><br>
                <input id="re-password" type="password" th:field="*{rePassword}">
            </div>

            <div class="uesername">
                <b>이름</b><br>
                <input id="name" type="text" th:field="*{name}">
            </div>

            <div class="birth">
                <b>주민번호</b><br>
                <div class="rrn">
                    <input type="text" id="rrn1" th:field="*{rrn}"/>
                    <span class="hyphen"> - </span>
                    <input type="text" id="rrn" th:field="*{rrn}"/>
                </div>
            </div>

            <div class="phoneNo">
                <b>휴대전화</b><br>
                <input type="tel" th:field="*{phoneNo}">
            </div>

            <div class="address">
                <b>주소</b><br>
                <div class="zipcodeInput">
                    <input type="text" id="sample4_postcode" placeholder="우편번호" th:field="*{zipcode}">
                    <input type="button" class="zipcodeButton" onclick="sample4_execDaumPostcode()" value="우편번호 찾기"><br>
                </div>
                <input type="text" id="sample4_roadAddress" placeholder="도로명주소" th:field="*{addr}">
                <input type="text" id="sample4_jibunAddress" placeholder="지번주소" th:field="*{addr_detail}"> <br>
                <span id="guide" style="color:#999;display:none"></span>
                <input type="text" id="sample4_detailAddress" placeholder="상세주소" th:field="*{addr_etc}">
                <input type="text" id="sample4_extraAddress" placeholder="참고항목" th:field="*{extraAddr}">
            </div>

        </div>
        <button type="submit" class="join">가입하기</button>
        <!--        <input type="submit" value="가입하기" class="join" > -->
        <br>
        <a class="home" href="/">홈으로</a>

    </form>
</div>
</body>
</html>