<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/join.css}">

    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script th:src="@{/js/join.js}"></script>

    <link href="https://font.elice.io/css?family=Elice+DX+Neolli" rel="stylesheet">

    <title>회원가입</title>
</head>
<body>
<div class="joinForm">
    <header>
        <h2>회원가입</h2>
    </header>

    <form action="/join" th:object="${joinForm}" method="post">
        <div class="input-box">

            <div class="userid">
                <b>아이디</b><br>
                <input id="userId" type="text" th:field="*{userId}">
                <button th:onclick="checkIdDuplicate()">중복확인</button>
                <div class="field-error" th:errors="*{userId}">ID 입력 오류</div>
            </div>

            <div class="userpw">
                <b>비밀번호</b><br>
                <input id="password" type="password" th:field="*{password}">
                <div class="field-error"  th:errors="*{password}">password 오류
                </div>
            </div>

            <div class="re-userpw">
                <b>비밀번호 재입력</b><br>
                <input id="re-password" type="password" th:field="*{passwordConfirm}">
                <div class="field-error"  th:errors="*{passwordConfirm}">
                    password 중복 오류
                </div>
            </div>

            <div class="username">
                <b>이름</b><br>
                <input id="name" type="text" th:field="*{name}">
                <div class="field-error"  th:errors="*{name}">name 오류</div>
            </div>

            <div class="phoneNo">
                <b>휴대전화</b><br>
                <input type="tel" th:field="*{phoneNo}">
                <div class="field-error" th:errors="*{phoneNo}">전화번호 오류</div>
            </div>
            <div class="address">
                <b>주소</b><br>
                <div class="zipcodeInput">
                    <input type="text" id="sample4_postcode" placeholder="우편번호" th:field="*{zipcode}">
                    <button type="button" class="zipcodeButton" th:onclick="sample4_execDaumPostcode()">
                        우편번호 찾기
                    </button>
                </div>
                <input type="text" id="sample4_roadAddress" placeholder="도로명주소" th:field="*{addr}">
                <input type="text" id="sample4_jibunAddress" placeholder="지번주소" th:field="*{addr_detail}"><br>
                <span id="guide" style="color: #999; display: none"></span>
                <input type="text" id="sample4_detailAddress" placeholder="상세주소" th:field="*{addr_etc}">
                <input type="text" id="sample4_extraAddress" placeholder="참고항목">
            </div>

        </div>
        <button type="submit" class="join">가입하기</button>
        <br>
        <a class="home" href="/">홈으로</a>

    </form>
</div>

</body>
</html>