/* 기본 스타일 */
.container {
    text-align: center; /* 내부 요소 가운데 정렬 */
    padding: 20px; /* 내용 주변에 간격 */
    width: 500px;
    margin: 0 auto;
    margin-top: 150px;
    margin-bottom: 30px;
}
<<<<<<< HEAD
a{
	color: #000;
	text-decoration: none;
}
=======
>>>>>>> 563f2705796f23ccf25b0bbcd00d241a9f34bd7f

/* 폰트 설정 */
@font-face {
    font-family: 'LeferiPoint-BlackA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-BlackA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'LINESeedKR-Bd';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

/* 제목 스타일 */
h1 {
    display: flex;
    justify-content: center;
    font-size: 35px;
    margin-bottom: 50px;
    font-family: 'LeferiPoint-BlackA';
}

/* 이미지 아이콘 스타일 */
.bookImage {
    width: 35px;
    height: 35px;
    margin-right: 13px;
}

.checkIcon {
    width: 18px;
    height: 18px;
    margin-right: 13px;
    vertical-align: middle;
}

/* 폼 스타일 */
.registForm {
    display: flex;
    align-items: center; /* 요소를 수직 가운데 정렬 */
    justify-content: center; /* 수평 가운데 정렬 */
    margin-bottom: 30px; /* 세로 간격을 조절할 값 설정 */
}

/* 레이블 스타일 */
.registForm label {
    flex: 1; /* 레이블 요소가 가변 너비를 갖도록 설정 */
    padding: 5px; /* 레이블 내 여백을 추가 */
    font-family: 'Pretendard-Regular';
    font-size: 18px;
    display: flex;
    align-items: center;
}

/* 입력 요소 스타일 */
.registForm input[type="text"],
.registForm input[type="date"],
.registForm input[type="file"],
.registForm input[type="radio"] {
    flex: 2.5; /* 입력 요소가 레이블보다 2배 너비를 갖도록 설정 */
    padding: 5px; /* 입력 요소 내 여백을 추가 */
    height: 30px;
    font-size: 14px;
    color: #222222;
    border: none;
    border-bottom: solid #aaaaaa 1px;
    padding-bottom: 8px;
    padding-left: 10px;
    position: relative;
    background: none;
    z-index: 5;
    outline: none;
}

/* 라디오 버튼 그룹 스타일 */
.radioButton {
    display: flex; /* 요소들을 가로로 나열 */
    align-items: center; /* 요소들을 수직 가운데 정렬 */
    margin-bottom: 30px; /* 간격 조절 */
}

/* 라디오 버튼 스타일 */
.radioButton label {
    font-family: 'Pretendard-Regular';
    font-size: 18px;
    display: inline-block; /* 라벨을 인라인 블록 요소로 설정하여 수평 정렬 */
    margin-right: 40px; /* 라벨과 라디오 버튼 사이의 간격 조절 */
}

.radioButton input[type="radio"] {
    transform: scale(1.3);
    margin-right: 14px; /* 라디오 버튼 간의 간격 조절 */
    margin-left: 30px;
}

/* 버튼 스타일 */
button {
    margin: 0;
    background-color: #EAEAEA;
    border: none;
    border-radius: 10px;
    height: 50px;
    width: 180px;
    font-size: 19px;
    font-family: 'LINESeedKR-Bd';
    display: inline-block; /* 인라인 블록 요소로 설정하여 가로로 나란히 표시 */
    margin: 40px 20px 80px 0;
}

button:hover {
    background-color: #FF3636;
    color: white;
}

button:active {
    background-color: #EAEAEA;
    transition: 0;
<<<<<<< HEAD
}
=======
}
>>>>>>> 563f2705796f23ccf25b0bbcd00d241a9f34bd7f
