body {
    font-size: 12px;
    font-family: "dotum", "sans-serif";
    color: #666;
    margin: 0;
    padding: 0;
    line-height: 130%;
}
div{
    display: block;
}
ul {
    list-style: none;
    display: block;
    margin-block-start: 1em;;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0ox;
    padding-inline-start: 40px;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: #777;
}

/* 헤더 css */
.header{
    width: 1025px;
    height: 181px;
    z-index: 100;
    position: relative;
    width: 100%;
}
.geteGenbMain {
    z-index: 10001;
    position: relative;
    width: 100%;
    height: 34px;
    background: #f4f6f9;
    border-bottom: 1px solid #eee;
}

.geteGenbMain a {
    font-size: 12px;
}

.geteCon {
    position: relative;
    width: 1000px;
    height: 34px;
    margin: 0 auto;
}
.geteCon::after{
    content: "";
    display: block;
    clear: both;
}
.geteRight {
    float: right;
    height: 34px;
}

.geteRight ul li{
    bottom: 12px;
    position: relative;
    float: left;
    padding: 10px 8px;
}

.on {
    color: #777;
    text-decoration: noen;
    padding-right: 15px;
    padding-top: 1px;
    width: 13px;
    height: 13px;
    background: url(https://qi-b.qoo10cdn.com/UI/pc/main/2016/gnb/arrow_down.png) no-repeat
    right 2px;
}

.off {
    color: #777;
    text-decoration: none;
    padding-top: 1px;
    padding-right: 15px;
    background: url(https://qi-b.qoo10cdn.com/UI/pc/main/2016/gnb/arrow_up.png) no-repeat
    right 2px;
}
.mypgsub {
    position: absolute;
    top: 27px;
    right: 8px;
    padding: 10px 13px 11px 14px;
    width: 60px;
    border: 1px solid #333;
    background: #fff;
    box-shadow: 0 5px 7px 0 rgba(0, 0, 0, 0.2);
    z-index: 10;
    height: 40px;
}

.mlv_Ly dl {
    position: relative;
}

.mlv_Ly dd {
    width: 100%;
    line-height: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}



.mlv_Ly dd a {
    font-weight: bold;
    position: relative;
    color: #000;
    font-size: 12px;
    right: 20px;
}

.blind {
    display: block;
    overflow: hidden;
    position: absolute;
    top: -1000em;
    left: 0;
}
.headerWrapper {
    background: #fff;
    border-bottom: 2px solid #282a34;
}
.headerBox {
    position: relative;
    width: 1000px;
    margin: 0 auto;
}
.header_logosearch {
    padding: 29px 0 0 1px;
    height: 70px;
    position: relative;
}

.header_logosearch h1 {
    bottom: 10px;
    margin: 0;
    float: left;
    position: relative;
    background: url('static/img/logo.png');
    width: 195px;
    height: 70px;
    background-size: 100%;
}

.header_logosearch h1 a {
    left: 0;
    width: 195px;
    height: 38px;
    position: absolute;
    top: 4px;
    text-indent: -9999px;
}

.search {
    background: #fff;
    width: 417px;
    height: 31px;
    border-bottom: 2px solid #ef544d;
    margin-left: 277px;
}

.search input {
    float: left;
    width: 335px;
    height: 20px;
    margin: 6px 0 0 12px;
    padding: 0;
    border: 0 none;
    background: transparent;
    font-size: 14px;
    color: #666;
    font-weight: bold;
    line-height: 18px;
}

.btn {
    float: right;
    padding: 0;
}

.btn a {
    display: block;
    width: 37px;
    height: 31px;
    background: url(https://qi-b.qoo10cdn.com/UI/pc/main/2017/gnb/btn_search.png) no-repeat center center;
}

.bookGNBWrapper {
    background-color: #ef544d;
    border-bottom: 1px solid #d74b45;
    font-family: "맑은 고딕", "Malgun Gothic", "Dotum", sans-serif;
    letter-spacing: -1px;
}

.bookGNB {
    position: relative;
    width: 1000px;
    height: 44px;
    margin: 0 auto;
}

.bookAllview {
    position: relative;
    width: 152px;
    height: 44px;
    float: left;
    text-align: left;   
}

.allNav {
    
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 12px 0 0 34px;
    background: #c43730 url(https://qi-b.qoo10cdn.com/UI/pc/main/2017/gnb/icon_allView.png) no-repeat
     13px 17px;
    font-size: 14px;
    line-height: 1.3;
    font-weight: bold;
    color: #fff;
}

.allNav span {
    position: absolute;
    padding-top: 2px;
}

.allNav::before {
    content: "";
    position: absolute;
    top: 19px;
    right: 15px;
    width: 13px;
    height: 7px;
    background: url(https://qi-b.qoo10cdn.com/UI/pc/main/2017/gnb/icon_navArrow.png) no-repeat 0 -6px;
}

.bookAllCategoryWrap {
    position: absolute;
    top: 45px;
    left: -3px;
    z-index: 3px;
    width: 640px;
    height: 740px;
    overflow: hidden;
}

.shadow {
    position: absolute;
    top: 0;
    left: 3px;
    z-index: 1;
    width: 634px;
    height: 737px;
    box-shadow: 0 0 6px 0 #000;
    opacity: .2;
    pointer-events: none;
}

.bookAllCategories {
    position: absolute;
    top: 0;
    left: 3px;
    z-index: 2;
    width: 630px;
    height: 735px;
    background: #fff;
    border: 2px solid #d74b45;
    border-top: 0;
}

.mainNav {
    height: 688px;
    border-bottom: 1px solid #33353d;
}

.category1 {
    width: 220px;
    border-left: 0;
    padding-left: 28px;
}

.col {
    position: relative;
    float: left;
    width: 210px;
    height: 672px;
    border-left: 1px solid #e5e5e5;
    padding: 16px 0 0 30px;
}

.bookAllCategories h3 {
    margin-bottom: 7px;
    font-size: 14px;
    color: #3c3c3c;
}

.categoryNav {
    font-size: 12px;
    line-height: 20px;
    color: #444;
}

.categoryNav ul {
    float: left;
    width: 116px;
}

.categoryNav ul li a {
    color: #666;
    text-decoration: none;
    text-align: left;
}

.bottomADWrap {
    clear: both;
    height: 45px;
    line-height: 44px;
    padding: 0 40px 0 17px;
    overflow: hidden;
    white-space: nowrap;
}

.closeCategories {
    position: absolute;
    bottom: 8px;
    right: 14px;
}

.closeCategories a {
    display: block;
    width: 27px;
    height: 28px;
    background: url(https://qi-b.qoo10cdn.com/UI/pc/main/2016/gnb/icon_closeX.png) no-repeat center center;
    text-indent: -9999px;
}

.bookGnBLeft {
    float: left;
    height: 44px;
}

.gnbNav {
    padding: 0;
    margin-left: 15px;
    height: 44px;
    font-size: 0;
    letter-spacing: 0;
    line-height: 0;
    word-spacing: normal;
}

.gnbleft {
    position: relative;
    display: inline-block;
    height: 44px;
}
.gnbleft a {
    padding: 12px 15px 0;
    display: block;
    height: 32px;
    font-size: 14px;
    line-height: 1.3;
    letter-spacing: -1px;
    font-weight: bold;
    text-align: center;
    color: #fff;
}

.top_banner {
    display: flex;
    align-items: center;
    width: 200px;
    position: absolute;
    top: 22px;
    right: 17px;
}

.top_banner_img {
    margin-right: 10px; /* Add margin between image and text */
}

.top_banner_img img {
    width: 40px;
    height: 64px;
}

.top_banner_text {
    display: flex;
    flex-direction: column;
}

.top_banner_tip {
    font-size: 20px;
    font-weight: bold;
    color: #000;
}

.top_banner_tip2 {
    font-weight: bold;
    font-size: 15px;
    color: #666;
}