/* header.css */

body {
    font-size: 12px;
    font-family: "dotum", "sans-serif";
    color: #666;
    margin: 0;
    padding: 0;
    line-height: 130%;
}

div {
    display: block;
}

ul {
    list-style: none;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0ox;
    padding-inline-start: 40px;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: #777;
}

/* 헤더 CSS */
.header {
    width: 100%;
    height: 181px;
    z-index: 100;
    position: relative;
}

.geteGenbMain {
    z-index: 10001;
    position: relative;
    width: 100%;
    height: 34px;
    background: #f4f6f9;
    border-bottom: 1px solid #eee;
}

.geteGenbMain a {
    font-size: 12px;
}

.geteCon {
    position: relative;
    width: 1000px;
    height: 34px;
    margin: 0 auto;
}

.geteCon::after {
    content: "";
    display: block;
    clear: both;
}

.geteRight {
    float: right;
    height: 34px;
}

.geteRight ul li {
    bottom: 12px;
    position: relative;
    float: left;
    padding: 10px 8px;
}


.on,
.off {
    color: #777;
    text-decoration: none;
    padding-right: 10px;
    padding-top: 1px;
    width: 13px;
    height: 13px;
    background-repeat: no-repeat;
    background-position: right center; /* 수평 정렬을 위해 center 사용 */
}

.on {
    background-image: url(../img/triangle.png);
}

.off {
    background-image: url(../img/triangle_up.png);

}

.mypgsub {
    position: absolute;
    display: flex;
    top: 100%;
    right: 0;
    align-items: center;
    padding: 10px 13px 11px 14px;
    width: 60px;
    z-index: 10;
    height: 40px;
}

.mlv_Ly dl {
    position: absolute;
    top: -20px;
    left: 0;
    width: 110px;
    padding: 10px;
    border: 1px solid #d5d5d5;
    border-radius: 5px;
    background-color: #fff;
    box-sizing: border-box;
    box-shadow: 0 5px 7px 0 rgba(0, 0, 0, 0.2);
}

.mlv_Ly dd {
    width: 100%;
    line-height: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    color: #000;
    font-size: 12px;
    right: 20px;
}

.blind {
    display: block;
    overflow: hidden;
    position: absolute;
    top: -1000em;
    left: 0;
}

.headerWrapper {
    background: #fff;
}

.headerBox {
    position: relative;
    width: 1000px;
    margin: 0 auto;
}

.header_logosearch {
    padding: 29px 0 0 1px;
    height: 70px;
    position: relative;
}

.header_logosearch h1 {
    bottom: 10px;
    margin: 0;
    float: left;
    position: relative;
    width: 195px;
    height: 70px;
    background-size: 100%;
}

.header_logosearch > h1 > a > img {
    bottom: 10px;
    margin: 0;
    float: left;
    position: relative;
    width: 195px;
    height: 70px;
    background-size: 100%;
}

.header_logosearch h1 a {
    left: 0;
    width: 195px;
    height: 38px;
    position: absolute;
    top: 4px;
    text-indent: -9999px;
}

.search {
    background: #fff;
    width: 417px;
    height: 31px;
    border-bottom: 1px solid #ef544d;
    margin-left: 277px;
    margin-top: 11px;
}

.search input {
    float: left;
    width: 335px;
    height: 20px;
    margin: 6px 0 0 12px;
    padding: 0;
    border: none;
    outline: none;
    background: transparent;
    font-size: 14px;
    color: #666;
    line-height: 18px;
}

.btn {
    float: right;
    padding: 0;
}

.btn a {
    display: block;
    width: 37px;
    height: 31px;
    background: url(https://qi-b.qoo10cdn.com/UI/pc/main/2017/gnb/btn_search.png) no-repeat center center;
}

@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * {
    font-family: 'Noto Sans KR', sans-serif;
}

.bookGNBWrapper {
    background-color: #FF3636;
    font-family: 'Noto Sans KR', sans-serif;
}

.bookGNB {
    position: relative;
    width: 1000px;
    height: 44px;
    margin: 0 auto;
}

.bookAllview {
    position: relative;
    width: 152px;
    height: 44px;
    float: left;
    text-align: left;
}

.allNav {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 12px 0 0 34px;
    background: #c43730 url(https://qi-b.qoo10cdn.com/UI/pc/main/2017/gnb/icon_allView.png) no-repeat 13px 17px;
    font-size: 14px;
    line-height: 1.3;
    font-weight: bold;
    color: #fff;
}

.allNav span {
    position: absolute;
    padding-top: 3px;
    margin-left: 3px;
}

.allNav::before {
    content: "";
    position: absolute;
    top: 19px;
    right: 15px;
    width: 13px;
    height: 7px;
    background: url(https://qi-b.qoo10cdn.com/UI/pc/main/2017/gnb/icon_navArrow.png) no-repeat 0 -6px;
}


.bookAllCategoryWrap {
    position: absolute;
    top: 44px;
    left: 0;
    width: 150px;
    height: 180px;
    overflow: hidden;
    background: #fff;
    border: 1px solid #c43730;
    border-top: 0;
}

.mainNav {
    padding: 10px;
}

.col {
    width: 210px;
}

.bookAllCategories h3 {
    margin-bottom: 7px;
    font-size: 14px;
    color: #3c3c3c;
}

.categoryNav ul {
    list-style: none;
    padding: 10px;
}

.categoryNav ul li {
    margin-bottom: 20px;
}

.categoryNav ul li a {
    color: #666;
    text-decoration: none;
    text-align: left;
}

.bookGnBLeft {
    float: left;
    height: 44px;
}

.gnbNav {
    padding: 0;
    margin-left: 15px;
    height: 44px;
    font-size: 0;
    letter-spacing: 0;
    line-height: 0;
    word-spacing: normal;
}

.gnbleft {
    position: relative;
    display: inline-block;
    height: 44px;
}

.gnbleft a {
    padding: 12px 15px 0;
    display: block;
    height: 32px;
    font-size: 14px;
    line-height: 1.3;
    letter-spacing: 0;
    font-weight: bold;
    text-align: center;
    color: #fff;
}

.top_banner {
    display: flex;
    align-items: center;
    width: 210px;
    position: absolute;
    top: 22px;
    right: 17px;
}

.top_banner_img {
    margin-right: 10px;
}

.top_banner_img img {
    width: 60px;
    height: 72px;
}

@font-face {
    font-family: 'omyu_pretty';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.top_banner_text {
    display: flex;
    flex-direction: column;
}

.top_banner_tip {
    font-family: 'NanumSquareNeo-Variable';
    font-size: 24px;
    font-weight: bold;
    color: #000;
}

.top_banner_tip2 {
    font-family: 'omyu_pretty';
    font-size: 14px;
    color: #A6A6A6;
}