
*{
    box-sizing: border-box; /*전체에 박스사이징*/
    outline: none; /*focus 했을때 테두리 나오게 */
}

body{
    font-size:14px; 
    line-height: 1.5em;
    color : #222;
    margin-top: 50px;
}

@import url("https://font.elice.io/css?family=Elice+DX+Neolli");

header{
    display: flex;
    justify-content: center;
    font-family: "Elice DX Neolli", sans-serif;
    font-size: 20px;
    margin-bottom: 40px;
}

.joinform {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rrn {
    display: flex; /* 내부 요소들을 가로로 배열 */
    align-items: center; /* 내부 요소들을 수직 가운데 정렬합니다. */
}

#rrn1,
#rrn2 {
    padding: 15px;
    margin: 0; /* 입력 필드 사이의 여백을 제거합니다. */
}

.hyphen {
    margin: 0 5px; /* 하이픈 간격을 조절합니다. */
}

.joinform .input-box{
    margin :5px 0;
}

.input-box input {
    border: 1px solid #dadada;
    padding: 15px;
    width: 100%;
    margin-bottom: 10px;
}

.joinform .input-box input[type=button] {
    background-color: #EAEAEA;
}

.joinform input[type=submit] {
    background-color: #FF3636;
    width: 100%;
    height: 50px;
    font-size: 15pt;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
}


.joinform input:focus:not(input[type=button]):not(.join) {
    border: 1px solid black;
}


a {
    text-decoration: none;
    color: gray;
}

.zipcodeInput {
    display: flex;
    align-items: center;
}

.zipcodeInput .zipcodeButton{
    font-size: 12px;
    padding: 14px 8px;
    margin-left: 10px;    
}

input.join:active {
    border: none;
}

.home {
    display: flex;
    justify-content: flex-end; /* 왼쪽으로 정렬 */
    margin-top: 10px; /* 위에 마진을 추가 */
}

.field-error{
    color: red;
}
