.loginForm{
    margin-top: 180px;
}

@import url("https://font.elice.io/css?family=Elice+DX+Neolli");

header{
    display: flex;
    justify-content: center;
    font-family: "Elice DX Neolli", sans-serif;
}

<<<<<<< HEAD
h2 a {
    color: black;
    text-decoration: none;
}

=======
>>>>>>> 563f2705796f23ccf25b0bbcd00d241a9f34bd7f
form{
    padding: 10px;
}

<<<<<<< HEAD
.field-error{
	padding-top: 10px;
}

=======
>>>>>>> 563f2705796f23ccf25b0bbcd00d241a9f34bd7f
.input-box{
    position: relative;
    margin: 10px 0;
    width: 300px;
    height: 30px;
    margin: 0 auto;
    margin-top: 20px;
}

.input-box > input {
    background: transparent;
    border: none;
    border-bottom: solid 1px #ccc;
    padding: 20px 0px 5px 0px;
    font-size: 14pt;
    width: 100%;
}

input::placeholder{
    color: transparent;
}

input:placeholder-shown + label{
    color: #aaa;
    font-size: 14pt;
    top: 15px;
}

input:focus + label, label{
    color: #8aa1a1;
    font-size: 10px;
    pointer-events: none;
    position: absolute;
    left: 0px;
    top: 0px;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
}

input:focus, input:not(:placeholder-shown){
    border-bottom: solid 1px #8aa1a1;
    outline: none;
}

button[type=submit]{
    background-color: #FF3636;
    border: none;
    color: white;
    border-radius: 5px;
    width: 300px;
    height: 35px;
    font-size: 13pt;
    margin: 0 auto;
    display: block;
    margin-top: 50px;
}

#forgot, #join{
    font-size: 12pt;
    color: rgb(164, 164, 164);
    width: 300px;
    height: 50px;
    text-decoration: none;
}

.bar {
    display: inline-block;
    width: 1px;
    height: 13px;
    background-color: #ccc;
    color: #ccc;
}

.findInfo{
    text-align: center;
    margin-top: 15px;
}