<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{css/footer.css}" >
    <script type="text/javascript"
            src="//dapi.kakao.com/v2/maps/sdk.js?appkey=f93d75b47dd331c83de73a293e351e45"></script>
</head>

<body>
<div class="footerWrap" th:fragment="footer">
    <div class="footerM">
        <div class="footer_info">
            <div class="info01">
                <dl>
                    <dt class="name">팀 1조 1억번 (One-hundredmillion)</dt>
                    <dd class="dot1">
                        조장 : 우지연(Woo JY)
                    </dd>
                    <dd class="dot2">
                        조원 : 김태형(Kim TH)
                    </dd>
                    <dd class="dot3">
                        김호년(Kim HN)
                    </dd>
                    <dd class="dot4">
                        이희영(Lee HY)
                    </dd>
                    <dd class="dot5">
                        주제 : 온라인 도서관 홈페이지 구현
                    </dd>
                </dl>
            </div>
            <div class="info02">
                <dl>
                    <dd class="title1">
                        <img th:src="@{/img/logo.png}" alt="">
                    </dd>
                    <dd class="dot1">
                        전화｜02-538-3644
                    </dd>
                    <dd class="dot2">
                        사업자등록번호｜220-88-65930
                    </dd>
                    <dd class="dot3">
                        주소｜서울특별시 강남구 역삼동 819-10 세경빌딩 3층
                    </dd>
                </dl>
            </div>
            <div class="info03">
                <dl>
                    <dt class="mapPlace"></dt>
                    <dd class="dd1">
                        <div id="map" class="map"></div>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
<!--</div>-->
</div>
</body>
<script th:src="@{/js/footer.js}"></script>
</html>