<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <script th:src="@{/js/header.js}"></script>
</head>
<body>
<ul>
    <li>
        <a href="" th:id="topLogin">로그인</a>
        <a href="#" th:id="topLogout" style="display: none;">로그아웃</a>
    </li>
    <li class="memberJoin">
        <a th:href="@{/members/new}">회원가입</a>
    </li>
    <li class="mypg" th:onmouseover="showMlv('mlv');" th:onmouseout="hideMlv('mlv');">
        <a href="#" th:id="mlv_arrow" class="on" th:onfocus="showMlv('mlv');">마이페이지</a>
        <div class="mypgsub" th:id="mlv" style="display: none;" th:onmouseover="showMlv('mvl');"
             th:onmouseout="hideMlv('mlv');">
            <div class="mlv_Ly">
                <dl>
                    <dt class="blind">마이페이지 레이어</dt>
                    <dd>
                        <a href="#">마이도서</a>
                    </dd>
                    <dd>
                        <a href="#">회원정보</a>
                    </dd>
                </dl>
            </div>
        </div>
    </li>
</ul>
<div class="headerWrapper">
    <div class="headerBox">
        <div class="header_logosearch">
            <h1>
                <a href="#" class="logo"></a>
            </h1>
            <div class="search">
                <input type="text" name="query" placeholder=""/>
                <div class="btn">
                    <a href="#"></a>
                </div>
            </div>
            <div class="top_banner">
                <div class="top_banner_img">
                    <img th:src="https://qi-b.qoo10cdn.com/partner/goods_image/1/9/3/4/337791934g.jpg" alt="">
                </div>
                <div class="top_banner_text">
                    <a href="#" class="top_banner_tip">오늘의 목표!</a>
                    <span class="top_banner_tip2">홈페이지를 구현해보자!</span>
                </div>
            </div>
        </div>
    </div>
    <div class="bookGNBWrapper">
        <div class="bookGNB">
            <div class="bookAllview">
                <a href="#" class="allNav">
                    <span>전체 카테고리</span>
                </a>
                <div class="bookAllCategoryWrap" style="display: none;">
                    <i class="shadow"></i>
                    <div class="bookAllCategories">
                        <div class="mainNav">
                            <div class="col category1">
                                <h3>국내도서</h3>
                                <div class="categoryNav">
                                    <ul>
                                        <li>
                                            <a href="#">소설</a>
                                        </li>
                                        <li>
                                            <a href="#">장르소설</a>
                                        </li>
                                        <li>
                                            <a href="#">시.에세이</a>
                                        </li>
                                        <!-- Add more categories as needed -->
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="bottomADWrap" id="601121"></div>
                        <div class="closeCategories">
                            <a href="#">닫기</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bookGnBLeft">
                <ul class="gnbNav">
                    <li class="gnbleft n1">
                        <a href="#">베스트셀러</a>
                    </li>
                    <li class="gnbleft n2">
                        <a href="#">프론트/백엔드</a>
                    </li>
                    <li class="gnbleft n3">
                        <a href="#">자격증</a>
                    </li>
                    <li class="gnbleft n4">
                        <a href="#">추천도서</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>