<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="home.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/css/swiper.min.css">
</head>

<body>
    <div class="container">
        <div class="mainContent">
            <div class="swiper-container1">
                <h3 class="maintitle">
                    <img class="mainbannerimage" src="img/crown.png" alt="">
                    베스트셀러
                </h3>
                <div class="swiper-container maincon">
                    <div class="swiper-wrapper mainbanner">
                        <div class="book swiper-slide">
                            <a href="#" target="_self">
                                <div class="bookCover">
                                    <img src="https://contents.kyobobook.co.kr/sih/fit-in/458x0/pdt/9791158392239.jpg"
                                        alt="">
                                </div>
                                <div class="bookMeta">
                                    <p class="title">모던 자바스크립트 Deep Dive</p>
                                </div>
                            </a>
                        </div>
                        <div class="book swiper-slide">
                            <a href="#" target="_self">
                                <div class="bookCover">
                                    <img src="https://contents.kyobobook.co.kr/sih/fit-in/458x0/pdt/9791156645771.jpg"
                                        alt="">
                                </div>
                                <div class="bookMeta">
                                    <p class="title">데이터베이스 개론</p>
                                </div>
                            </a>
                        </div>
                        <div class="book swiper-slide">
                            <a href="#" target="_self">
                                <div class="bookCover">
                                    <img src="https://contents.kyobobook.co.kr/sih/fit-in/458x0/pdt/9791191600704.jpg"
                                        alt="">
                                </div>
                                <div class="bookMeta">
                                    <p class="title">진짜 쓰는 실무 엑셀</p>
                                </div>
                            </a>
                        </div>
                        <div class="book swiper-slide">
                            <a href="#" target="_self">
                                <div class="bookCover">
                                    <img src="https://contents.kyobobook.co.kr/sih/fit-in/458x0/pdt/9791169211437.jpg"
                                        alt="">
                                </div>
                                <div class="bookMeta">
                                    <p class="title">만들면서 배우는 생성 AI</p>
                                </div>
                            </a>
                        </div>
                        <div class="book swiper-slide">
                            <a href="#" target="_self">
                                <div class="bookCover">
                                    <img src="https://contents.kyobobook.co.kr/sih/fit-in/458x0/pdt/4801165219520.jpg"
                                        alt="">
                                </div>
                                <div class="bookMeta">
                                    <p class="title">면접을 위한 CS 전공지식 노트</p>
                                </div>
                            </a>
                        </div>
                        <div class="book swiper-slide">
                            <a href="#" target="_self">
                                <div class="bookCover">
                                    <img src="https://contents.kyobobook.co.kr/sih/fit-in/458x0/pdt/480D190547980.jpg"
                                        alt="">
                                </div>
                                <div class="bookMeta">
                                    <p class="title">웹디자인기능사 실기 7일 완성</p>
                                </div>
                            </a>
                        </div>
                        <div class="book swiper-slide">
                            <a href="#" target="_self">
                                <div class="bookCover">
                                    <img src="https://contents.kyobobook.co.kr/sih/fit-in/458x0/pdt/9788931467901.jpg"
                                        alt="">
                                </div>
                                <div class="bookMeta">
                                    <p class="title">2023 이기적 정보처리기능사 필기 기출문제집</p>
                                </div>
                            </a>
                        </div>
                        <div class="book swiper-slide">
                            <a href="#" target="_self">
                                <div class="bookCover">
                                    <img src="https://contents.kyobobook.co.kr/sih/fit-in/458x0/pdt/9791162245149.jpg"
                                        alt="">
                                </div>
                                <div class="bookMeta">
                                    <p class="title">레트로의 유니티 게임 프로그래밍 에센스</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="swiper-pagination" style="display: none;"></div>
                </div>
            </div>
            <div class="tendSection">
                <div class="interparkRecmmend">
                    <div class="interparkRecommendHeader">
                        <h2>인터파크 추천</h2>
                    </div>
                    <div class="sliderWrap1">
                        <div class="sliderArea1">
                            <div class="bx_wrapper" style="max-width: 457px;">
                                <div class="bx_viewport myswiper">
                                    <div class="sliders1 swiper-wrapper">
                                        <div class="swiper-slide slider1">
                                            <a href="#">
                                                <div class="bookCover1">
                                                    <span class="coverWrap1">
                                                        <span class="imageWrap1">
                                                            <img class="lazy1"
                                                                src="https://contents.kyobobook.co.kr/sih/fit-in/458x0/pdt/9791162241028.jpg"
                                                                alt="">
                                                            <i class="bookCoverTop1"></i>
                                                            <i class="bookCoverRepeat1"></i>
                                                            <i class="bookCoverBottom1"></i>
                                                            <i class="bookRecommend1"></i>
                                                        </span>
                                                    </span>
                                                </div>
                                                <div class="bookMeta1">
                                                    <strong class="title2">피, 땀, 픽셀</strong>
                                                    <div class="bookDetail1">
                                                        <span class="category1"></span>
                                                        <span class="recommender1"></span>
                                                    </div>
                                                    <div class="desc1">
                                                        <p>
                                                            게임 개발의 이면에서 일어나는 장대한 서사시 속으로 독자를 안내한다. 야근에 지친 수백 명의 개발자로
                                                            이루어진 팀부터 단 한 명의 고독한 괴짜 천재 개발자까지, 다양한 창작자들이 어떻게 예술적?기술적 도전을
                                                            뛰어넘고 시장의 요구를 충족하는 게임을 만들어냈는지 살펴본다. 불가능한 일정을 극복하고 [드래곤 에이지:
                                                            인퀴지션]을 만든 바이오웨..
                                                        </p>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="swiper-slide slider1">
                                            <a href="#">
                                                <div class="bookCover1">
                                                    <span class="coverWrap1">
                                                        <span class="imageWrap1">
                                                            <img class="lazy1"
                                                                src="https://contents.kyobobook.co.kr/sih/fit-in/458x0/pdt/9791192987170.jpg"
                                                                alt="">
                                                            <i class="bookCoverTop1"></i>
                                                            <i class="bookCoverRepeat1"></i>
                                                            <i class="bookCoverBottom1"></i>
                                                            <i class="bookRecommend1"></i>
                                                        </span>
                                                    </span>
                                                </div>
                                                <div class="bookMeta1">
                                                    <strong class="title2">진짜 쓰는 프리미어 프로 영상 편집</strong>
                                                    <div class="bookDetail1">
                                                        <span class="category1"></span>
                                                        <span class="recommender1"></span>
                                                    </div>
                                                    <div class="desc1">
                                                        <p>
                                                            부분의 SNS에서 영상이 주요 콘텐츠로 자리 잡았다. 그만큼 영상을 제작할 수 있는 다양한 도구가
                                                            출시되었고, 누구나 쉽게 영상 콘텐츠를 제작할 수 있게 되었다. 하지만, 무료 도구로는 한계가 있다. 수많은
                                                            영상 콘텐츠가 쏟아지는 상황에서 좀 더 우수한 품질로, 사용자가 원하는 바에 따라 자유자재로 영상을 편...
                                                        </p>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="swiper-slide slider1">
                                            <a href="#">
                                                <div class="bookCover1">
                                                    <span class="coverWrap1">
                                                        <span class="imageWrap1">
                                                            <img class="lazy1"
                                                                src="https://contents.kyobobook.co.kr/sih/fit-in/458x0/pdt/9791158391997.jpg"
                                                                alt="">
                                                            <i class="bookCoverTop1"></i>
                                                            <i class="bookCoverRepeat1"></i>
                                                            <i class="bookCoverBottom1"></i>
                                                            <i class="bookRecommend1"></i>
                                                        </span>
                                                    </span>
                                                </div>
                                                <div class="bookMeta1">
                                                    <strong class="title2">디버깅을 통해 배우는 리눅스 커널의 구조와 원리. 2</strong>
                                                    <div class="bookDetail1">
                                                        <span class="category1"></span>
                                                        <span class="recommender1"></span>
                                                    </div>
                                                    <div class="desc1">
                                                        <p>
                                                            신입 리눅스 시스템 개발자부터 5년차 개발자가 실무를 하기 위해 알아야 할
                                                            리눅스 커널의 주요 서브시스템을 다룹니다! 실전 개발에서 신입 사원 옆에 친절한 선배 개발자가 앉아서 리눅스
                                                            커널에 대해 꼼꼼하게 알려주듯, 리눅스 커널을 쉽고 친절하게 설명하는 책입니다. 이 책...
                                                        </p>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="swiper-slide slider1">
                                            <a href="#">
                                                <div class="bookCover1">
                                                    <span class="coverWrap1">
                                                        <span class="imageWrap1">
                                                            <img class="lazy1"
                                                                src="https://contents.kyobobook.co.kr/sih/fit-in/458x0/pdt/9791192469256.jpg"
                                                                alt="">
                                                            <i class="bookCoverTop1"></i>
                                                            <i class="bookCoverRepeat1"></i>
                                                            <i class="bookCoverBottom1"></i>
                                                            <i class="bookRecommend1"></i>
                                                        </span>
                                                    </span>
                                                </div>
                                                <div class="bookMeta1">
                                                    <strong class="title2">모두를 위한 클라우드 컴퓨팅</strong>
                                                    <div class="bookDetail1">
                                                        <span class="category1"></span>
                                                        <span class="recommender1"></span>
                                                    </div>
                                                    <div class="desc1">
                                                        <p>
                                                            클라우드 컴퓨팅 기술이 발달하면서 많은 기업이 IT 생태계 기반을 클라우드 환경으로 전환하고, 클라우드
                                                            기반의 프라이빗 데이터 센터를 구축하고 있다. 이 책은 클라우드 컴퓨팅을 이해하기 위해 꼭 알아야 할
                                                            가상머신, 가상화, 컨테이너 같은 기반 기술을 살펴보고, 클라...
                                                        </p>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="swiper-slide slider1">
                                            <a href="#">
                                                <div class="bookCover1">
                                                    <span class="coverWrap1">
                                                        <span class="imageWrap1">
                                                            <img class="lazy1"
                                                                src="https://contents.kyobobook.co.kr/sih/fit-in/458x0/pdt/4801165213184.jpg"
                                                                alt="">
                                                            <i class="bookCoverTop1"></i>
                                                            <i class="bookCoverRepeat1"></i>
                                                            <i class="bookCoverBottom1"></i>
                                                            <i class="bookRecommend1"></i>
                                                        </span>
                                                    </span>
                                                </div>
                                                <div class="bookMeta1">
                                                    <strong class="title2">T 엔지니어를 위한 네트워크 입문</strong>
                                                    <div class="bookDetail1">
                                                        <span class="category1"></span>
                                                        <span class="recommender1"></span>
                                                    </div>
                                                    <div class="desc1">
                                                        <p>
                                                            클라우드/데브옵스 시대에 알아야 할 인프라 지식
                                                            서버실이 있고, 서버 관리자가 따로 있었던 시대를 지나 클라우드 서비스가 보편화되었다. 클라우드 서비스로
                                                            넘어오면서 개발자가 직접 서버의 배포, 테스트를 하게 되었고, 네트워크 배치 등을 직접 하게 되면서 인프라
                                                            지식이 필수가 되었다. 클라우....
                                                        </p>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="swiper-button-prev"></div>
                                    <div class="swiper-button-next"></div>
                                    <div class="swiper-scrollbar" style="display: none;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tendIssue">
                    <div class="tendIssueHeader">
                        <h2>
                            Trend
                            <span>&</span>
                            Issue
                        </h2>
                    </div>
                    <div class="sliderWrap2">
                        <ul class="sliders2">
                            <li class="bannerType2">
                                <a href="#">
                                    <div class="imageTrend">
                                        <img src="https://contents.kyobobook.co.kr/sih/fit-in/458x0/pdt/9791140703210.jpg"
                                            alt="">
                                        <div class="Trendsub">
                                            <p class="Trendsubin">이 세상에서 가장 쉬운 코딩책이 있다?</p>
                                        </div>
                                        <div class="Trendmain">
                                            <p class="Trendsubin">세상에서 가장 쉬운 코딩책</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="choiceSection">
                <div class="publisherChoice">
                    <div class="publisherHeader">
                        <h2>
                            <img src="https://qi-b.qoo10cdn.com/UI/pc/main/2017/text/h2_publisherChoice.png" alt="">
                        </h2>
                    </div>
                    <div class="sliderWrap">
                        <div class="Choiceimage">
                            <a href="#">
                                <img src="https://contents.kyobobook.co.kr/sih/fit-in/458x0/pdt/9791162243091.jpg"
                                    alt="">
                            </a>
                        </div>
                        <a href="#">
                            <div class="Choiceinfo">
                                <div class="Choicetitle">
                                    <span>혼자 공부하는 컴퓨터 구조+운영체제</span>
                                </div>
                                <div class="middleTitle">
                                    <span>
                                        혼자 해도 충분합니다! 1:1과외하듯 배우는 IT 지식 입문서
                                    </span>
                                </div>
                                <div class="LastTitle">
                                    <span>
                                        <p class="nonemagin1">팩토리나인</p>
                                        <p class="nonemagin2">편집부 추천</p>
                                    </span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="rederRecommend">
                    <div class="publisherHeader">
                        <h2 class="readeRecommendTitle">
                            <img src="https://bimage.interpark.com/UI/pc/main/2017/text/h2_media_recommend.png" alt="">
                        </h2>
                    </div>
                    <div class="sliderWrap">
                        <div class="Choiceimage">
                            <a href="#">
                                <img src="https://contents.kyobobook.co.kr/sih/fit-in/458x0/pdt/480D230699100.jpg"
                                    alt="">
                            </a>
                        </div>
                        <a href="#">
                            <div class="Choiceinfo">
                                <div class="Choicetitle">
                                    <span>된다! 하루 만에 끝내는 챗GPT 활용법</span>
                                </div>
                                <div class="middleTitle">
                                    <span>
                                        프롬프트로 블로그 글쓰기, 기획안 작성부터 미드저니 & 챗GPT로 수익 창출까지!
                                    </span>
                                </div>
                                <div class="LastTitle">
                                    <span>
                                        <p class="nonemagin1">성장을 꿈꾸는 모든 사람에게는 자신의 능력을 일깨워 주는 자기계발서가 될 것입니다.</p>
                                    </span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="readMymind">
                    <div class="publisherHeader1">
                        <h2 class="readeRecommendTitle">
                            <img src="img/imageheader.jpg" alt="">
                        </h2>
                    </div>
                    <div class="sliderWrap13">
                        <div class="bx-wrapper">
                            <div class="bx-viewport">
                                <a href="#">
                                    <img src="https://contents.kyobobook.co.kr/sih/fit-in/458x0/pdt/480D200132970.jpg"
                                        alt="">
                                </a>
                            </div>
                            <a href="#">
                                <div class="Choicetitle2">
                                    <span>야 너도 리눅스 사용할수 있어!</span>
                                </div>
                                <div class="LastTitle">
                                    <span>
                                        <p class="lastinfo">누구나 가능한 유닉스&리눅스 2판</p>
                                    </span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="todaybook">
            <h2>오늘의 도서</h2>
            <div class="todaySwiper" style="position: relative;">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="#">
                            <ul>
                                <li>
                                    <span class="bookIMG"></span>
                                    <img src="https://contents.kyobobook.co.kr/sih/fit-in/458x0/pdt/9791165922498.jpg"
                                        alt="">
                                </li>
                                <li>
                                    <p class="today_subTit">수치와 데이터로 증명하는 가이드북</p>
                                    <p class="today_tit">웹 개발자 로드맵</p>
                                    <p class="today_bookInfol">
                                        <span>양동준</span>
                                    </p>
                                    <p class="today_bookInfo2">
                                        나만의 무기를 찾아내자
                                        이 책은 실제 취업으로 가는 빠른 길을 제공해 드립니다. 개발자가 되는 방법을 설명하는 책은 이미 많이 존재하지만, 이 책은 조금 다른
                                        접근법으로 설명합니다. 불필요한 정보나 느린 학습으로 시간을 낭비하지 않고, 핵심을 바로잡고 최대한 빠르고 효율적으로 개발자가 될 수
                                        있도록 길라잡이 합니다. 개발자가 되고 싶은 이유가 무엇이든 간에, 이 책을 통해 여러분의 방향성을 정할 수 있기를 바랍니다.
                                    </p>
                                </li>
                            </ul>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#">
                            <ul>
                                <li>
                                    <span class="bookIMG"></span>
                                    <img src="https://contents.kyobobook.co.kr/sih/fit-in/458x0/pdt/9791163034735.jpg"
                                        alt="">
                                </li>
                                <li>
                                    <p class="today_subTit">중학생도 첫날부터 실습하는 초고속 입문서 | 키보드 잡고 한 시간이면 파이썬으로 프로그램 만든다!
                                    </p>
                                    <p class="today_tit">Do it! 점프 투 파이썬</p>
                                    <p class="today_bookInfol">
                                        <span>
                                            박응용</span>
                                    </p>
                                    <p class="today_bookInfo2">
                                        중고등학생도, 비전공자도, 직장인도 프로그래밍에 눈뜨게 만든 바로 그 책이 전면 개정 2판으로 새롭게 태어났다! 챗GPT를 시작으로
                                        펼쳐진 생성 AI 시대에 맞춰 설명과 예제를 다듬고, 최신 경향과 심화 내용을 보충했다. 또한 이번 개정 2판도 50만 코딩 유튜버인
                                        조코딩과 협업을 통해 유튜브 동영상을 제공해 파이썬을 더 쉽게 공부할 수 있다.
                                        8년 연속 베스트셀러! 위키독스 누적 방문 300만! 독자의 입에서 입으로 전해진 추천과 수많은 대학 및 학원의 교재 채택을 통해 검증은
                                        이미 끝났다. 코딩을 처음 배우는 중고등학생부터 코딩 소양을 기르려는 비전공자, 자기계발에 진심인 직장인까지! 이 책과 함께 파이썬
                                        프로그래밍의 세계로 ‘점프’해 보자!
                                    </p>
                                </li>
                            </ul>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#">
                            <ul>
                                <li>
                                    <span class="bookIMG"></span>
                                    <img src="https://contents.kyobobook.co.kr/sih/fit-in/458x0/pdt/9791169211017.jpg"
                                        alt="">
                                </li>
                                <li>
                                    <p class="today_subTit">오늘도 마음만 먹는 당신을 위한 갓생 실천 비법</p>
                                    <p class="today_tit">노션 Notion 라이프</p>
                                    <p class="today_bookInfol">
                                        <span>
                                            박현정</span>
                                    </p>
                                    <p class="today_bookInfo2">
                                        많은 것을 이루면서도 여유롭고 행복한 사람들의 비밀이 있다. 바로 ‘자신의 삶을 운영하는 시스템’을 가지고 있다는 것이다. 시작은 하는데
                                        꾸준히 실천하지 못하는 분, 하고 싶은 일은 많지만 항상 시간이 부족해 ‘나의 의지 문제’라고 생각하는 분, 그리고 매일 마음먹은 일을
                                        실천하지 못한 채 좌절하고 있는 분이라면 이 책 〈노션 Notion 라이프〉에서 해답을 찾을 수 있다.
                                        이 책은 ‘어떻게 하면 노션을 잘 다룰 수 있을까?’라는 질문의 답을 알려주지 않는다. 대신 ‘노션을 내 삶에 실제로 활용하는 방법’을
                                        알려준다. 이 책의 저자 노사연 캐리는 오랜 기간 강의한 ‘인생 관리’ 주제를 노션으로 구현했다. 여기에 인간의 심리와 행동 이해를
                                        기반으로 한 노션 템플릿을 설계하여 여러분이 하루하루 원하는 방향을 살 수 있게 도울 것이다.
                                    </p>
                                </li>
                            </ul>
                        </a>
                    </div>
                </div>
                <div class="swiper-pagination" style="display: none;"></div>
            </div>
        </div>
    </div>
</body>
<script src="home.js"></script>

</html>